<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Debug endpoints</title>
</head>
<body>
  <h1>Debug endpoints</h1>
  <p>These endpoints are only active under development.</p>
  <ul>
    <li>
      <p><a href="/configuration">/configuration</a></p>
      <p>Show current configuration as JSON</p>
    </li>
    <li>
      <p><a href="/generate-reports-now">/generate-reports-now</a></p>
      <p>Trigger report generation. Optional query parameter 'day' where you can fill in the day you wish to make a report of in the format YYY-MM-DD.</p>
    </li>
    <li>
      <p><a href="/dump">/dump</a></p>
      <p>Dump the data contained in the write cache as a TTL file. Optional query parameter 'filename' where you can input the file name of the dump file. Do not use an extention.</p>
    </li>
    <li>
      <p><a href="/clear-store">/clear-store</a></p>
      <p>Clear the write cache where the last reports are cached</p>
    </li>
    <li>
      <p><a href="/dump-files">/dump-files</a></p>
      <p>Show index of the created dump files</p>
    </li>
    <li>
      <p>/dump-files/filename</p>
      <p>Download specific dump file</p>
    </li>

  </ul>
</body>
</html>
